[Unit]
Description=PiFrame Slideshow
After=network.target

[Service]
Type=simple
ExecStart=/home/[user]/.local/bin/uv run uvicorn piframe.main:app \
    --host 0.0.0.0 --port 8000
WorkingDirectory=/home/[user]/PiFrame
Restart=always
User=pi
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target